<h1>图片列表</h1>

<ul>
    {% if picture_list %}
        {% for picture in picture_list %}
            <li>
                <p>图片详情：</p>
                <a href="/learn/pic/{{ picture.id }}/">{{ picture.title }}</a> ----- {{ picture.date | date:'Y-m-j' }}
                {% comment %}
                <a href="{% url 'learn:pic_detail'picture.id %}">{{ picture.title }}</a> ----- {{ picture.date | date:'Y-m-j' }}
                {% endcomment %}
            </li>
        {% endfor %}
    {% else %}
        <li>还没有上传图片</li>
    {% endif %}
</ul>
<p><a href="{% url 'learn:pic_upload' %}">上传新图片</a></p>